@import "general.css";

main {
    display: grid;
    grid-template-areas: 
            " section1 "
            " section2 "
            " section3 ";
    width: 100%;
    min-width: 425px;
    margin-top: 115px;
}

.sections {
    display: flex;  
    flex-direction: row;
}

.section-img,
.section-info {
    width: 50%;
}


.first-section {
    grid-area: section1;
}

.second-section {
    grid-area: section2;
    background-color: var(--white-gray);
}

.first-section,
.second-section {
    color: var(--light-gray);
}

h2 {
    border: 1px solid blue;
    margin-bottom: 0.5rem;
}

.section-info {
    margin: 0 auto;
    padding: 1.5rem;
}

.section-img {
    margin: 0 auto;
}

#bild1,
#bild2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#bild1 {
    padding: 1rem 1rem 1rem 0;
}

#bild2 {
    padding: 1rem 0 1rem 1rem;
}

.img1 {
    
}

.info2 {
    order: 2;
}

.img2 {
   order: 1;
}

.comments-group {
    flex-direction: column;
    grid-area: section3;
    background-color: var(--light-gray);
    color: var(--white-gray);
}

.comments {
    margin: 20px auto;
}

.the-comments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    border: 1px solid yellow
}




