@import "general.css";

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--white);
    width: 100%;
    /*height: 400px;*/
    color: var(--dark-gray);
    font-size: 17px;
}

.container2,
.container4 {
    background-color: var(--white-gray);
}

.picture-banner-container,
 .text-container2,
 .text-container3,
 .text-container4,
 .text-container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid  red;
    margin-left: 5rem;

}


.bannerpicture {
    /*height: 348px;
    margin-left: 3rem;*/
    object-fit: cover;
    width: 91%;
    height: 80%;
    margin-left: 25px;
    margin-top: 35px;
    border-radius: 30% 10%;
}

.text-banner-container {
    display: flex;
    align-content: center;
}

.bannertext  {
   justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 8px;
    
}

h2 {
    font-size: 38px;
    text-align: center;

}

.picture2,
.picture3,
.picture4{
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-left: 30px;
    border-radius: 50%;
}



.container2,
.container3,
.container4,
.container5 {
    display: flex;
   /* grid-template-columns: 2fr 1fr;*/
    width: 100%;
   /* height: 350px;*/
    color: var(--dark-gray);
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 17px;
}


h3 {
    font-size: 28px;
    font-weight: 600;
}

span {
    line-height: 1.7;
}

.text-sections{
    margin-left: 120px;
}

@media screen and (max-width: 960px) {

    .main-container {
        flex-direction: row;
    }
   
    .bannerpicture {
        object-fit: cover;
        width: 91%;
        height: 70%;
        margin-left: 25px;
        margin-top: 65px;
        border-radius: 0 0;
        
    }
    .picture2,
    .picture3,
    .picture4 {   object-fit: cover;
        width: 91%;
        height: 70%;
        margin-left: 25px;
        margin-top: 65px;
        border-radius: 0 0;
    }

    

}

/*768 mobile*/